{% extends "layout.html" %} {% block content %}

<section id="principal">
  <section id="publicaciones">
    <article class="post">
      <a href="" class="enlace-post">
        <h2 class="titulo-post">Titulo de la noticia 1</h2>
      </a>
      <!--<img src="" class="img-post" />-->
      <img src="brian/Documents/Sitio AOC/SRC/mg/prueba.jpg" alt="Prueba" class="img-thumbnail">
      <p>
        <strong>Por: </strong
        ><span class="datos-publicaciones">El mandelo</span>
        &nbsp; &nbsp;
        <strong>Fecha: </strong
        ><span class="datos-publicaciones"> Hoy apoco no carnal </span>
      </p>
      <p class="parrafo-post">
        ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de
        las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor
        (N. del T. persona que se dedica a la imprenta) desconocido usó una
        galería de textos y los mezcló de tal manera que logró hacer un libro de
        textos especimen. 
      </p>

      <a href="" class="leer-mas">leer mas...</a>
      <span class="num-comentarios">20 comentarios</span>
    </article>

    <!--<article class="post">
      <a href="" class="enlace-post">
        <h2 class="titulo-post">Titulo de la noticia 1</h2>
      </a>
      <img src="img/ciencia.jpg" class="img-post" />
      <p>
        <strong>Por: </strong
        ><span class="datos-publicaciones">El mandelo</span>
        &nbsp; &nbsp;
        <strong>Fecha: </strong
        ><span class="datos-publicaciones"> Hoy apoco no carnal </span>
      </p>
      <p class="parrafo-post">
        ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de
        las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor
        (N. del T. persona que se dedica a la imprenta) desconocido usó una
        galería de textos y los mezcló de tal manera que logró hacer un libro de
        textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
        como texto de relleno en documentos electrónicos, quedando esencialmente
        igual al original. Fue popularizado en los 60s con la creación de las
        hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
        recientemente con software de autoedición, como por ejemplo Aldus
        PageMaker, el cual incluye versiones de Lorem Ipsum.
      </p>

      <a href="" class="leer-mas">leer mas...</a>
      <span class="num-comentarios">20 comentarios</span>
    </article>

    <article class="post">
      <a href="" class="enlace-post">
        <h2 class="titulo-post">Titulo de la noticia 1</h2>
      </a>
      <img src="img/ciencia.jpg" class="img-post" />
      <p>
        <strong>Por: </strong
        ><span class="datos-publicaciones">El mandelo</span>
        &nbsp; &nbsp;
        <strong>Fecha: </strong
        ><span class="datos-publicaciones"> Hoy apoco no carnal </span>
      </p>
      <p class="parrafo-post">
        ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de
        las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor
        (N. del T. persona que se dedica a la imprenta) desconocido usó una
        galería de textos y los mezcló de tal manera que logró hacer un libro de
        textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
        como texto de relleno en documentos electrónicos, quedando esencialmente
        igual al original. Fue popularizado en los 60s con la creación de las
        hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
        recientemente con software de autoedición, como por ejemplo Aldus
        PageMaker, el cual incluye versiones de Lorem Ipsum.
      </p>

      <a href="" class="leer-mas">leer mas...</a>
      <span class="num-comentarios">20 comentarios</span>
    </article>

    <article class="post">
      <a href="" class="enlace-post">
        <h2 class="titulo-post">Titulo de la noticia 1</h2>
      </a>
      <img src="img/ciencia.jpg" class="img-post" />
      <p>
        <strong>Por: </strong
        ><span class="datos-publicaciones">El mandelo</span>
        &nbsp; &nbsp;
        <strong>Fecha: </strong
        ><span class="datos-publicaciones"> Hoy apoco no carnal </span>
      </p>
      <p class="parrafo-post">
        ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de
        las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor
        (N. del T. persona que se dedica a la imprenta) desconocido usó una
        galería de textos y los mezcló de tal manera que logró hacer un libro de
        textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
        como texto de relleno en documentos electrónicos, quedando esencialmente
        igual al original. Fue popularizado en los 60s con la creación de las
        hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
        recientemente con software de autoedición, como por ejemplo Aldus
        PageMaker, el cual incluye versiones de Lorem Ipsum.
      </p>

      <a href="" class="leer-mas">leer mas...</a>
      <span class="num-comentarios">20 comentarios</span>
    </article>

    <article class="post">
      <a href="" class="enlace-post">
        <h2 class="titulo-post">Titulo de la noticia 1</h2>
      </a>
      <img src="img/ciencia.jpg" class="img-post" />
      <p>
        <strong>Por: </strong
        ><span class="datos-publicaciones">El mandelo</span>
        &nbsp; &nbsp;
        <strong>Fecha: </strong
        ><span class="datos-publicaciones"> Hoy apoco no carnal </span>
      </p>
      <p class="parrafo-post">
        ¿Qué es Lorem Ipsum? Lorem Ipsum es simplemente el texto de relleno de
        las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
        relleno estándar de las industrias desde el año 1500, cuando un impresor
        (N. del T. persona que se dedica a la imprenta) desconocido usó una
        galería de textos y los mezcló de tal manera que logró hacer un libro de
        textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
        como texto de relleno en documentos electrónicos, quedando esencialmente
        igual al original. Fue popularizado en los 60s con la creación de las
        hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
        recientemente con software de autoedición, como por ejemplo Aldus
        PageMaker, el cual incluye versiones de Lorem Ipsum.
      </p>

      <a href="" class="leer-mas">leer mas...</a>
      <span class="num-comentarios">20 comentarios</span>
    </article>-->

    <div id="paginacion">
      <p>
        Anteriores publicaciones &nbsp; &nbsp;
        <a href="" class="enlace-paginacion">Siguientes publicaciones</a>
      </p>
    </div>
  </section>
  <section id="sidebar">
    <section id="buscar">
      <h2 class="encabezado-sidebar">Buscar</h2>
      <form action="">
        <input type="text" name="buscar" placeholder="buscar" />
        <button class="boton">Ok</button>
      </form>
    </section>
    <section id="categorias">
      <h2 class="encabezado-sidebar">Categorias</h2>
      <a href="" class="enlace-sidebar">HTML Y CSS</a>
      <a href="" class="enlace-sidebar">2</a>
      <a href="" class="enlace-sidebar">3</a>
      <a href="" class="enlace-sidebar">4</a>
      <a href="" class="enlace-sidebar">5</a>
    </section>
    <section id="sitios-amigos">
      <h2 class="encabezado-sidebar">Sitios Amigos</h2>
      <a href="" class="enlace-sidebar">HTML Y CSS</a>
      <a href="" class="enlace-sidebar">2</a>
      <a href="" class="enlace-sidebar">3</a>
      <a href="" class="enlace-sidebar">4</a>
      <a href="" class="enlace-sidebar">5</a>
    </section>
    <section id="ultimos-post">
      <h2 class="encabezado-sidebar">Ultimos Post</h2>
      <a href="" class="enlace-sidebar">
        <h4>Titulo de la Noticia1</h4>
        <p>Esto esuna descripción</p>
      </a>

      <a href="" class="enlace-sidebar">
        <h4>Titulo de la Noticia2</h4>
        <p>Esto esuna descripción</p>
      </a>

      <a href="" class="enlace-sidebar">
        <h4>Titulo de la Noticia3</h4>
        <p>Esto esuna descripción</p>
      </a>

      <a href="" class="enlace-sidebar">
        <h4>Titulo de la Noticia4</h4>
        <p>Esto esuna descripción</p>
      </a>
    </section>
  </section>
</section>
{% endblock %}
