<!--{% extends "layout.html" %} 
{% block content %}-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arquitectura</title>

    <!--Boststrap 4-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!--Css propio-->
    <link
      rel="stylesheet"
     href="../static/css/main.css" 
    />
  </head>
  <body>
    <div class="container p-4">

<header class="header">
  <div id="encabezado">
    <div id="logo">
      Arquitectura y Organización de las Computadoras
    </div>
  </div>
</header>
<section id="principal">
  <section id="publicaciones">
    <article class="post">
      <h2 class="titulo-post">Equipo 1</h2>
      <video
        class="video"
        loop
        muted
        controls
      >
    <source src="{{ user_video }}" type="video/mp4">
    </video>
      <p class="parrafo-post">
        Unidad Aritmética y Logica
      </p>
      <a href="" class="leer-mas">Cuestionario 1</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 2</h2>
      <video></video>
      <p class="parrafo-post"></p>
      <a href="" class="leer-mas">Cuestionario 2</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 3</h2>
      <video
        class="video"
        
        loop
        muted
        controls
      ><source src="{{ user_video3 }}" type="video/mp4"></video>
      <p class="parrafo-post">Direccionamiento</p>
      <a href="" class="leer-mas">Cuestionario 3</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 4</h2>
      <video
        class="video"
        
        loop
        muted
        controls
      ><source src="{{ user_video4 }}" type="video/mp4"></video>
      <p class="parrafo-post">
        Ciclos de Procesamiento
      </p>
      <a href="" class="leer-mas">Cuestionario 4</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 5</h2>
      <video
        class="video"
        
        loop
        muted
        controls
      ><source src="{{ user_video5 }}" type="video/mp4"></video>
      <p class="parrafo-post">Unidad de Control</p>
      <a href="" class="leer-mas">Cuestionario 5</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 6</h2>
      <video
        class="video"
       
        loop
        muted
        controls
      ><source src="{{ user_video6 }}" type="video/mp4"></video>
      <p class="parrafo-post">Control Microprogramado</p>
      <a href="" class="leer-mas">Cuestionario 6</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 7</h2>
      <video
        class="video"
        
        loop
        muted
        controls
      ><source src="{{ user_video7 }}" type="video/mp4"></video>
      <p class="parrafo-post">Microcontroladores y Microprocesadores</p>
      <a href="" class="leer-mas">Cuestionario 7</a>
    </article>
    <article class="post">
      <h2 class="titulo-post">Equipo 8</h2>
      <video
        class="video"
        
        loop
        muted
        controls
      ><source src="{{ user_video8 }}" type="video/mp4"></video>
      <p class="parrafo-post">Arquitectura interna del Microcontrolador</p>
      <a href="" class="leer-mas">Cuestionario 8</a>
    </article>
  </section>
</section>

</div>
</body>
</html>

<!--{% endblock %}-->
